<div class="row">
    <div class="four columns">
        <iframe src="https://open.spotify.com/embed/user/{{userID}}/playlist/{{playlistID}}" width="300" height="380" frameborder="0" allowtransparency="true"></iframe>
    </div>
</div>