<div class="row">
    <div class="col float-left">
        <h1>tastebud</h1>
    </div>
    <div class="col float-right" style="text-align: right">
        <div class="middle">
            <button type="button" class="btn btn spotify"><a href="{{url}}"><image src="spotify.svg" style="height: 1.4em; margin-bottom: 2px; margin-right: 8px"></image>log in with spotify</a></button>
        </div>
    </div>
</div>

<div class="row unused" disabled>
    <div class="playlist-container">
        <iframe src="https://open.spotify.com/embed/user/soops45/playlist/5jS1gbN7PjnV3TfZMlFwbl" id="playlist" class="spotify-playlist" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
    </div>
    <div class="col control-container">
        <table class="textbox">
            <tr>
                <th>artists</th>
            </tr>
            <tr>
                <th id="artists" class="editable inputform" style="width: 100%; text-align: left">

                </th>
            </tr>
        </table>
        <table class="textbox">
            <tr>
                <th>genres</th>
            </tr>
            <tr>
                <th id="genres" class="editable inputform" style="width: 100%; text-align: left">

                </th>
            </tr>
        </table>
        <div class="group">
            <table id="trait-table">
                <tr>
                    <th>musical traits</th>
                </tr>
                <tr>
                    <th class="editable">
                        <div id="traits">

                        </div>
                    </th>
                </tr>
            </table>
        </div>
        <div class="group">
            <table id="songs">
                <tr>
                    <th>
                        tracks 
                    </th>
                </tr>
                <tr>
                    <th id="songs" class="editable songs">
                        10
                    </th>
                </tr>
            </table>
            <table id="key">
                <tr>
                    <th style="text-align: center" colspan="2">
                        song key
                    </th>
                </tr>
                <tr>
                    <th id="key-letter" class="editable" style="text-align: center">D</th>
                    <th id="key-sharp">
                        <select id="key-accidental">
                            <option value="natural">♮</option>
                            <option value="sharp">♯</option>
                            <option value="flat">♭</option>
                        </select>
                    </th>
                </tr>
                <tr>
                    <th>
                        <select id="mode">
                            <option id="major" value="major">M</option>
                            <option value="minor">m</option>
                        </select>
                    </th>
                    <th style="text-align: center" class="editable">
                        <input type="checkbox" onchange="toggleModeControl()">
                    </th>
                </tr>
            </table>
            <table id="time-signature">
                <tr>
                    <th>
                        time
                    </th>
                </tr>
                <tr>
                    <th id="meter" class="editable">
                        4
                    </th>
                </tr>
                <tr>
                    <th>4</th>
                </tr>
            </table>
            <table id="submit">
                <tr>
                    <th>
                        generate
                    </th>
                </tr>
                <tr>
                    <th class="big">
                        <button id="generate" class="btn btn-primary">go</button>
                    </th>
                </tr>
            </table>
        </div>
    </div>
</div>

<script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="scripts.js"></script>
