<div class="row">
    <div class="col float-left">
        <h1>tastemkr</h1>
    </div>
    <div class="col float-right" style="text-align: right">
        <div class="middle">
            <button type="button" class="btn btn spotify"><a href="{{url}}"><image src="spotify.svg" style="height: 1.4em; margin-bottom: 2px; margin-right: 8px"></image>log in with spotify</a></button>
        </div>
    </div>
</div>
