body {
    font-family: "Helvetica", sans-serif;
    padding: 30px;
}

.container {
    width: 720px !important;
}

.middle {
    margin-top: 4px;
    margin-bottom: 26px;
}

.unused {
    opacity: 0.5;
    pointer-events: none;
}

.unused::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: ' ';
}

button.spotify a {
    color: white;
}
button.spotify {
    background-color: #1db954;
}

iframe.spotify-playlist {
    width: 300px;
    height: 600px;
}

table {
    display: inline-block;
}

.editable {
    background-color: lightgrey;
    transition: border-color 0.2s
}

.editable:focus {
    outline: 0;
    border: 3px solid #0070ff !important;
}

#time-signature tr {
    border: 3px black solid;
    text-align: center;
}

#time-signature tr th {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 6px;
    padding-right: 6px;
}

#key tr th {
    border: 3px black solid;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 6px;
    padding-right: 6px;
}

#tracks tr th {
    border: 3px black solid;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 6px;
    padding-right: 6px;
    text-align:center;
}

#tracks tr th.tracks {
    font-size: 2em;
    padding-top: 11px !important;
    padding-bottom: 12px !important;
}

#submit tr th {
    border: 3px black solid;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 6px;
    padding-right: 6px;
    text-align:center;
}

.big {
    padding-top: 16px !important;
    padding-bottom: 17px !important;
}

div.playlist-container {
    width: 320px !important;
    padding-left: 15px;
}

#trait-table tr th {
    border: 3px black solid;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 6px;
    padding-right: 6px;
    text-align:center;
}

div#traits {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
}

div#traits button {
    margin: 5px;
}

div.group {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

.textbox tr th {
    border: 3px black solid;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 6px;
    padding-right: 6px;
    text-align: center;
}

table.textbox {
    display: table;
    width: 100%;
    margin-bottom: 10px;
}

div.control-container {
    width: 100%;
}