body {
    font-family: "Helvetica", sans-serif;
    padding: 30px;
}

.middle {
    margin-top: 12px;
}

button.spotify a {
    color: white;
}
button.spotify {
    background-color: #1db954;
}

iframe.spotify-playlist {
    width: 300px;
    height: 600px;
}